<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b36d79">  <td>21/01/11 11:01:54</td>   <td>0</td> <td title="&gt;&gt;ExtentReport.reportSetup()[pri:0, instance:test.HealthScore@78e67e0a]">&gt;&gt;reportSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="df90b0">  <td>21/01/11 11:01:54</td>   <td>140</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:test.HealthScore@78e67e0a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/11 11:02:09</td>   <td>15129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.HomeScreen_HealthScore()[pri:1, instance:test.HealthScore@78e67e0a]">HomeScreen_HealthScore</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="df90b0">  <td>21/01/11 11:02:35</td>   <td>41363</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:test.HealthScore@78e67e0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>21/01/11 11:02:41</td>   <td>47457</td> <td title="&lt;&lt;ExtentReport.reportTearDown()[pri:0, instance:test.HealthScore@78e67e0a]">&lt;&lt;reportTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
</table>
