<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.HealthScore</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomeScreen_HealthScore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fitnessbuttonclick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>adddistance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addfitnessscore</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>test.Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EnterOTP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnterMobileNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SelectLanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnterPin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AcceptAlert</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HomeScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
