<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5fe93">  <td>21/01/28 09:45:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AcceptAlert()[pri:0, instance:test.Login@80503]">AcceptAlert</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/28 09:45:50</td>   <td>3023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.EnterMobileNumber()[pri:2, instance:test.Login@80503]">EnterMobileNumber</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/28 09:45:53</td>   <td>6075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.EnterOTP()[pri:3, instance:test.Login@80503]">EnterOTP</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/28 09:46:03</td>   <td>16215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.EnterPin()[pri:4, instance:test.Login@80503]">EnterPin</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/28 09:46:13</td>   <td>26375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.HomeScreen()[pri:5, instance:test.Login@80503]">HomeScreen</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/28 09:46:15</td>   <td>28386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.HomeScreen_HealthScore()[pri:0, instance:test.HealthScore@4b553d26]">HomeScreen_HealthScore</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/28 09:45:48</td>   <td>1573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SelectLanguage()[pri:1, instance:test.Login@80503]">SelectLanguage</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/28 09:46:32</td>   <td>45288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.addTime()[pri:5, instance:test.HealthScore@4b553d26]">addTime</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/28 09:46:25</td>   <td>38635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.adddistance()[pri:4, instance:test.HealthScore@4b553d26]">adddistance</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/28 09:46:22</td>   <td>34905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.addfitnessscore()[pri:3, instance:test.HealthScore@4b553d26]">addfitnessscore</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/28 09:46:20</td>   <td>33630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.fitnessbuttonclick()[pri:1, instance:test.HealthScore@4b553d26]">fitnessbuttonclick</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="61a3d3">  <td>21/01/28 09:45:29</td>   <td>-17506</td> <td title="&gt;&gt;ExtentReport.reportSetup()[pri:0, instance:test.Login@80503]">&gt;&gt;reportSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="61a3d3">  <td>21/01/28 09:46:47</td>   <td>60215</td> <td title="&lt;&lt;ExtentReport.reportTearDown()[pri:0, instance:test.Login@80503]">&lt;&lt;reportTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>21/01/28 09:45:30</td>   <td>-17160</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:test.Login@80503]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>21/01/28 09:46:41</td>   <td>54098</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:test.Login@80503]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
</table>
